*~

config/config.json
!config/config.example.json
logs/*.log
example.txt
example-deploy
!repositories/deepl.io.git
!repositories/example.git
repositories/*
backups/*
cache/*
node_modules
assets/original